main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
    background-color: black;
    min-height: 100vh;
    padding: 0px 10px;
}

header {
    position: relative;
    top: 20px;
    margin-bottom: 7vh;
}

h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 8vh;
    font-size: 60px;
    font-family: 'Flavors', cursive;
}

#dialogue-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50vh;
}

.dialogue {
    font-size: 30px;
    margin: 4vh 3vw;
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
}

.player-text {
    font-size: 30px;
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    margin-bottom: 5vh;
}

@media (max-width: 720px) {
    .dialogue {
        margin-top: 2vh;
    }
}

.query-text {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect;
    /* for Safari 4.0 - 8.0 */
    animation: 1.8s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */

@-webkit-keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.seizors {
    font-family: 'Eater', cursive;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.far {
    /* adjusting size of default FA icons*/
    font-size: 60px;
}

#choice-screen {
    display: flex;
    align-items: center;
}

.weapon {
    padding: 20px;
    border-radius: 50%;
    margin: 20px;
}

.weapon:hover {
    cursor: pointer;
    scale: 1.2;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    animation: weapons;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.opponent:hover {
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
}

@keyframes weapons {
    100% {
        background-color: #111;
    }
}

#weapons-screen {
    display: flex;
    flex: 1 1 0px;
}

.weapons {
    display: inline;
    padding: 30px;
}

.weapon-text {
    font-size: 30px;
}

@media (max-width: 540px) {
    .weapon-text {
        font-size: 25px;
    }
    h1 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 3vh;
        font-size: 40px;
        font-family: 'Flavors', cursive;
    }
    .player-text {
        font-size: 20px;
    }
}

.win {
    cursor: pointer;
    scale: 1.2;
    background-color: green;
    box-shadow: 0 0 20px #ccc;
    animation: weapons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.win:hover {
    cursor: pointer;
    scale: 1.2;
    background-color: green;
    box-shadow: 0 0 20px #ccc;
    animation: weapons-win;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.lose {
    cursor: pointer;
    scale: 1.2;
    background-color: red;
    box-shadow: 0 0 20px #ccc;
    animation: weapons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.lose:hover {
    cursor: pointer;
    scale: 1.2;
    background-color: red;
    box-shadow: 0 0 20px #ccc;
    animation: weapons-draw;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.draw {
    cursor: pointer;
    scale: 1.2;
    background-color: grey;
    box-shadow: 0 0 20px #ccc;
    animation: weapons;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.draw:hover {
    cursor: pointer;
    scale: 1.2;
    background-color: grey;
    box-shadow: 0 0 20px #ccc;
    animation: weapons-draw;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes weapons-win {
    from {
        background-color: green;
    }
    to {
        background-color: #111;
    }
}

@keyframes weapons-lose {
    0% {
        background-color: red;
    }
    100% {
        background-color: #111;
    }
}

@keyframes weapons-lose {
    from {
        background-color: grey;
    }
    to {
        background-color: #111;
    }
}

#play-again {
    color: red;
    margin-top: 20%;
}

a:visited {
    color: red;
    text-decoration: none;
}

#win-dialogue {
    margin: 10px 10vh;
}